# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Data\DATA\Mata_Kuliah\Semester_7\Asprak\PBO\18104005-Bagus_Bayu_Sasongko-PraktikumPBO-SEB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
